<div class="center hero-unit">
<h1>Наши контакты</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

</div>

<p>
Владимиру Кулишову инкриминируют финансирование и поддержку терроризма на украинской территории. Об этом заявил глава Службы безопасности Украины Валентин Наливайченко.
</p>

<p>
Перейти к странице <%= link_to "Home", static_pages_home_path %>
</p>
