<% provide(:title, 'Help') %>
<h1>Страница Help</h1>
<p>Страницу можно найти на app/views/static_pages/help.html.erb</p>
<p>
Ряд российских и зарубежных компаний уже заявили о готовности приступить к его возведению, сообщил зампред правительства Дмитрий Козак
</p>

<p>
Он напомнил, что эти работы войдут в федеральную целевую программу по социально-экономическому развитию Крымского федерального округа до 2020 года. Они станут существенной составляющей её расходной части.
</p>

<p>
Вице-премьер отметил, что уже выбраны параметры будущего транспортного перехода и поставлена задача по оптимизации его стоимости.
</p>

<p>
Компанию, которой доверят строительство, определят по результатам конкурса. Его ещё предстоит провести.
</p>

<p>
Мост через Керченский пролив напрямую свяжет Краснодарский край с Крымом. Сейчас добраться на полуостров можно либо через территорию Украины, либо через пролив на пароме.
</p>

<p>
Перейти к странице <%= link_to "Home", static_pages_home_path %>
</p>